<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>Estimado: <%= @contact.name %></p>
  	<p>
  		Te enviamos a continuación la factura N° <%= @invoice.invoice_number%> generada.
  	</p>
    <%= @message %>
  </body>
</html>