<div class="form-group col-sm-12 book-hide appliance-hide computation-hide furniture-hide device-show computer-hide select-a-type-hide">
  <div class="form-group col-sm-6">
    <%= form.label :storage, "Capacity", class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :storage, class: "form-control validate[integer]" %>
    </div>
  </div>
</div>
