<h1>
  Inventories
  <%= link_to 'New Inventory', new_inventory_path, class: "btn btn-primary align-right"  %>
</h1>

<div class="well">
  <%= render 'search' %>
</div>

<div id="inventories-table">
  <%= render 'table', inventory: @inventory %>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true,
      todayHighlight: true,
      endDate: new Date()
    });
    $('.dropdown-toggle').dropdown()
  });             
</script>