<h2 class="page-header">Emergency Information</h2>
<%= form.fields_for :collaborator do |c| %>
  <%= c.fields_for :emergency_relationship do |r| %>
    <h3 class="page-header">Emergency contact</h3>
    <%= r.fields_for :emergency_contact do |p| %>
      <%= render "collaborators/forms/person", form: p %>
    <% end %>
  <% end %>
<% end %>
