<h1>
  Invoice - <%= @headquarter.country.get_abrev %>
  <% I18n.locale = :es %>
  <%= link_to 'New Invoice', new_invoices_management_country_invoice_path(@headquarter.country), class: "btn btn-primary align-right"  %>
</h1>

<div class="well">
  <%= render 'search' %>
</div>

<div id="invoices-table">
  <%= render 'table', invoices: @invoices %>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true,
      endDate: new Date()
    });
    $('.dropdown-toggle').dropdown()
  });             
</script>