<h2 class="page-header col-sm-12">Academic Information</h2>
<%= form.fields_for :collaborator do |c| %>
  <div class="academic-form cocoon-form" %>
    <%= c.fields_for :studies do |s| %>
      <%= render "study_fields", f: s %>
    <% end %>
    <div>
      <%= link_to_add_association "Add a study", c, :studies, wrap_object: Proc.new {|study| study.build_entity; study}, class: "pull-left" %>
    </div>
  </div>
<% end %>
