<h2 class="page-header">Emergency Contact</h2>
<%= form.fields_for :collaborator do |c| %>
  <%= c.fields_for :emergency_relationship do |r| %>
    <%= r.fields_for :person do |p| %>
      <%= render "emergency_person", f: p, form: r %>
    <% end %>
  <% end %>
<% end %>
