<div class="nested-fields">
  <h3 class="page-header col-sm-12">Study Information</h2>
  <div class="study-form">
    <div>
      <%= link_to_remove_association "Remove study", f, class: "pull-right" %>
    </div>
    <%= render "study", form: f %>
    <%= f.fields_for :entity do |e| %>
      <%= render "entity_fields", f: e %>
    <% end %>
  </div>
</div>
