<div class="modal-dialog draggable" id="modal-width">
  <div class="modal-content">
	<div class="modal-header">
		<button id="x-close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
		<h2 class="modal-title">Events</h2>
	</div>
	<div class="modal-body">
		<ul class="fa-ul errors"></ul>
		<%= render 'form' %>
	</div>
  </div>
</div>
