<ul class="radio-button">	
	<% collection.each do |element| %>
		<li>
			<label>
				<input type="checkbox" name= "<%="#{name}-#{element.id}"%>" value="<%=element.id%>" <%="checked" if element.send(method, params) %>>
				<%= element.full_name %>
			</label>
		</li>
	<% end %>
</ul>
