<%= form_for([@prospect,@estimation], html: {id: "form_estimation", role: "form", class: "form-horizontal validate"}) do |f| %>

  <%= render 'form_body', form: f %>

  <div class="form-group">
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="col-sm-12 text-right">
        <%= f.submit "Save", class: "btn btn-primary", id: "save-btn" %> <%= link_to 'Cancel', prospect_estimations_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true,
      todayHighlight: true
    });

    var array = ["developer", "designer"]

    array.forEach(function(entry){
      var calculate_days = function () {
        var hours = $("#estimation_" + entry + "_hours").val();
        var days =  $("#estimation_" + entry + "_days");
        var price_per_hour = $("#estimation_" + entry + "_hours_per_day").val();
        var number_days = hours/price_per_hour;
        if (number_days == 0){
          days.val("");
        }else{
          days.val(number_days);
        }
      }
      calculate_days
      $("#estimation_" + entry + "_hours").bind("keyup change", calculate_days);
      $("#estimation_" + entry + "_hours_per_day").bind("keyup change", calculate_days);

      var calculate_hours = function () {
        var days = $(this).val();
        var hours =  $("#estimation_" + entry + "_hours");
        var price_per_hour = $("#estimation_" + entry + "_hours_per_day").val();
        var number_days = days*price_per_hour;
        if (number_days == 0){
          hours.val("");
        }else{
          hours.val(number_days);
        }
      }
      calculate_hours
      $("#estimation_" + entry + "_days").bind("keyup change", calculate_hours);

      if(!$("#estimation_" + entry + "_hours_per_day").val()){
          $("#estimation_" + entry + "_hours").attr('disabled', true);
        }

      var validate_field = function () {
        if($("#estimation_" + entry + "_hours_per_day").val() == null || $("#estimation_" + entry + "_hours_per_day").val() == "" ){
          $("#estimation_" + entry + "_hours").attr('disabled', true);
          $("#estimation_" + entry + "_days").val("")
          $("#estimation_" + entry + "_hours").val("")
        }
        else{
          $("#estimation_" + entry + "_hours").attr('disabled', false);
        }
      }
      validate_field
      $("#estimation_" + entry + "_hours_per_day").bind("keyup change", validate_field);

      
    })

  });
</script> 
