<h1 class="page-header">Dashboard</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="panel yellow">
        <%= link_to clients_path do %>
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-building fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= Client.all.count %></div>
                <div>Clients</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel green">
        <%= link_to invoices_management_countries_path do %>
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-money fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= Invoice.all.count %></div>
                <div>Invoices</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel red">
        <%= link_to contacts_path do %>
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-users fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= Contact.all.count %></div>
                <div>Contacts</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel blue">
        <%= link_to prospects_path do %>
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-list-alt fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= Prospect.count %></div>
                <div>Prospects</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel red">
        <%= link_to collaborators_path do %>
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-sitemap fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= Collaborator.all.count %></div>
                <div>Collaborators</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel blue">
        <%= link_to inventories_path do %>
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-laptop fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= Inventory.all.count %></div>
                <div>Inventories</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>